__pycache__/
*.py[cod]
*.pyo

.idea/
.vscode/
.venv/
venv/
.env/

model/
models/
checkpoints/
result/
results/
result_data/
logs/
plot/
plots/
fig/
figures/
paper_figures/
baseline/
ours_eval_res/

*.pkl
*.pt
*.pth
*.ckpt
*.csv
*.log
*.png
*.jpg
*.jpeg
*.pdf
*.docx
*.zip

*.net.xml
*.rou.xml
*.rou.alt.xml
*.sumocfg
*.edg.xml
*.nod.xml
*.tll.xml
*.con.xml
*.json
